<?php
include('../../functions/FuncionesComunes.php');
$Idioma = CargaIdioma();
?>
<html>
	<!-- Cabecera -->
	<head>
		<!-- Meta -->
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<!-- CSS -->
		<link rel="stylesheet" href="css/estilo.css">
		<link rel="stylesheet" href="css/styles.css">
	</head>
	<!-- Cuerpo  -->
	<body link="#FFFFFF">
		<div style="width:750px; height:450px; overflow:hidden; margin: 0 auto; position:relative; margin-top:0px;">
			<div id="header">
				<h1><?php echo $Idioma['Crear nueva funcionalidad'] ?></h1>
			</div>
			<div id="section">
				<div align="center">
				<h1><?php echo $Idioma['confirm_delete_funcionalidad'] ?></h1>
				<a href="../Menus/gf.html" class="menuButton confirmButton"><?php echo $Idioma['boton_si'] ?></a>
				<a href="af.html" class="menuButton confirmButton"><?php echo $Idioma['boton_no'] ?></a>
				</div>
			</div>
		</div>
	</body>
</html>