<?php
include('../../functions/FuncionesComunes.php');
$Idioma = CargaIdioma();
?>
<html>
	<!-- Cabecera -->
	<head>
		<!-- Meta -->
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<!-- CSS -->
		<link rel="stylesheet" href="css/estilo.css">
		<link rel="stylesheet" href="css/styles.css">
	</head>
	<!-- Cuerpo  -->
	<body link="#FFFFFF">
		<div style="width:750px; height:450px; overflow:hidden; margin: 0 auto; position:relative; margin-top:0px;">
			<div id="header">
				<h1>Modificar usuario</h1>
			</div>
			<div id="section">
				<div align="center">
					<h1>¿Está seguro de querer guardar los cambios realizados sobre este usuario?</h1>
					<a href="../Menus/gu.html" class="menuButton confirmButton">Sí</a>
					<a href="mu2.html" class="menuButton confirmButton">No</a>
				</div>
			</div>
		</div>
	</body>
</html>